<div data-role="header" data-position="inline">
  <h1>バトル結果</h1>
  <%= link_to "完了", main_path, {"data-icon" => "check", "data-transition" => "slide", "class" => "ui-btn-right"} %>
</div>

<div style="position:relative", align="center">
  <br>
  <%= image_tag(@card_player.image) %>
</div>
<br>
<div style="text-align:center">
  <big><b>
    <% if @result == "win" %>
      勝利！
    <% else %>
      負け！
    <% end %>
    </b><big>
</div>

