<div data-role="header">
  <h1>カードを選ぶ</h1>
</div>

<ul data-role="listview" data-theme="c">
  <% @cards.each do |card| %>
    <li>
    <%= link_to raw("#{image_tag(card.image)}<h3>#{card.name}</h3>"),
      battle_execute_path(:card_id => card.id)
    %>
    </li>
  <% end %>
</ul>
