<div data-role="header">
  <h1>レベルから選ぶ</h1>
</div>

<ul data-role="listview" data-theme="c">
  <% @players.each do |player| %>
    <li>
    <%= link_to player.name, battle_select_card_path(:opponent_id => player.id) %>
    </li>
  <% end %>
</ul>
