<div data-role="header">
  <h1>レベルから選ぶ</h1>
</div>

<ul data-role="listview" data-theme="c">
  <% @players.each do |player| %>
    <li>
    <%= link_to player.name, :action => "select_card", :controller => "battle", :player => @player.id %>
    </li>
  <% end %>
</ul>
