<div data-role="header">
  <h1>レベルから選ぶ</h1>
</div>

<ul data-role="listview" data-theme="c">
  <% @players.each do |player| %>
    <li><a href=<%= battle_select_card_path %>><%= player.name %></a></li>
  <% end %>
</ul>

