<div data-role="header">
  <h1>バトル</h1>
  <%= link_to "スキップ",
    {"action" => "battle_result", "player" => @player.id, "card_player" => @card_player.id, "card_opponent" => @card_opponent.id, "result" => @result},
    {"data-icon" => "arrow-r", "data-transition" => "slide", "class" => "ui-btn-right"}
  %>
</div>

<br>
<div id="img_l", style="position:relative", align="center">
  <%= image_tag(@card_player.image) %>
</div>
<div id="text", style="position:relative", align="center">
  <b>対<b>
</div>
<div id="img_r", style="position:relative", align="center">
  <%= image_tag(@card_opponent.image) %>
</div>

