<div data-role="header">
  <h1>バトル相手選択</h1>
</div>

<div data-role="controlgroup">
  <%= link_to "エンブレム", "#",                        {"data-role" => "button", "data-transition" => "slide"} %>
  <%= link_to "レベル",     battle_select_bylevel_path, {"data-role" => "button", "data-transition" => "slide"} %>
  <%= link_to "リベンジ",   "#",                        {"data-role" => "button", "data-transition" => "slide"} %>
</div>
