<div data-role="header">
  <h1>メイン画面</h1>
</div>
<div data-role="controlgroup">
  <%= link_to "バトル",   battle_select_path, {"data-role" => "button", "data-transition" => "slide"} %>
  <%= link_to "クエスト", "#",                {"data-role" => "button", "data-transition" => "slide"} %>
</div>
