<br><br><br><br>
<div align="center">
  デビルマスター（仮）
</div>

<div align="center">
  <%= link_to "スタート", main_path, {"data-role" => "button", "data-inline" => "true", "data-transition" => "slide"} %>
</div>

